.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.bug {
    animation: crawl 4s linear infinite alternate;
}

@keyframes crawl {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(15px, -10px);
    }

    50% {
        transform: translate(-10px, 20px);
    }

    75% {
        transform: translate(20px, 5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}