.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
    overflow: hidden;
    background: black;
}


.network {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150vw;
    height: 150vh;
    object-fit: cover;
    transform: translate(-50%, -44%);
    transition: transform 0.05s linear, filter 0.05s linear;
}

body::before {
    content: "YOU ARE BEING ORGANIZED";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 0, 0, 0.85);
    font-family: "Space Mono", monospace;
    font-size: 40px;
    letter-spacing: 6px;
    pointer-events: none;
    z-index: 2000;
}