@font-face {
    font-family: "MyCustomFont";
    src: url("Chiq.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#draggable-box-a:hover {
    filter: blur(2px);
    filter: drop-shadow(8px 8px 10px gray);
}

#draggable-box-b:hover {
    filter: blur(2px);
    filter: drop-shadow(8px 8px 10px gray);
}

#draggable-box-c:hover {
    filter: blur(2px);
    filter: drop-shadow(8px 8px 10px gray);
}